body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#linkGenerator {
    text-align: center;
    margin-top: 20px;
}

#colorDisplay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

input#linkDisplay {
    margin-top: 10px;
}
