body {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers items horizontally in the container */
    justify-content: center; /* Centers items vertically in the container */
    height: 100vh; /* Use the full height of the viewport */
    margin: 0;
}

#codeEntry, #codeGenerator, #colorDisplay {
    margin: 10px; /* Adds some space around each element */
}

#colorDisplay {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    display: none; /* Initially hidden */
}

button, input[type="text"] {
    padding: 10px;
    margin: 5px; /* Ensures some space around buttons and input */
    font-size: 16px; /* Increases readability */
}

input[type="text"] {
    width: calc(100% - 22px); /* Adjusts input width to fit content */
}